@media (max-width:550px) and (orientation: portrait){
    .section-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom:50px;
        
    }
    .header{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }
    .list{
        grid-row: 3;
        margin: 0 auto;
        
        /* grid-column: 1/3; */
    }
    .list ul{
        padding-inline-start: 0px;
        font-size: 16px;
        width: 90%;
        margin: 0 auto;
    }
    .logo{
        grid-row: 1;
        /* grid-column: 1/3; */
    }
    .icons{
        grid-row: 2;
        max-width: 80%;
        /* grid-column: 1/3; */
    }
    .logo img{
        width: 100%;
    }
}
@media(min-width:600px) and (min-height:1000px){
    /*  */
    .section-header{
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-bottom:50px;
        font-size: 25px;
    }
    .header{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
    }
    .list{
        grid-row: 2;
        grid-column: 1/3;
    }
    .list ul{
        justify-content: space-evenly !important;
    }
    .logo img{
        width: 60%;
    }
    .link-div{
        width: 200px;
    }
    .button-link{
        height: 40px;
    }
    .link-div span{
        font-size: 20px;
    }
    .logo{
        grid-row: 1;
        grid-column: 1/2;
        /* grid-column: 1/3; */
    }
    .icons{
        grid-row: 1;
        max-width: 80%;
        grid-column: 2/3;
    }
}
@media(orientation: landscape) and (max-width:850px){
    .header{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
    }
    .logo{
        grid-row: 1;
        grid-column: 1/2;
        /* grid-column: 1/3; */
    }
    .icons{
        grid-row: 1;
        max-width: 80%;
        grid-column: 2/3;
    }
    .list{
        grid-row: 2;
        grid-column: 1/3;
    }
    .list ul{
        width: 90%;
        margin: 0 auto;
    }
}