$light:#ffffff;
$tangerin:#f7ae3b;
$carrot:#f2612d;
*{
    margin:0;
    box-sizing: border-box;
}
body{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}
.section-header{
    padding-top:5%;
    background-image: url(../img/1-Header/bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  .list, .logo, .icons{
      width: 30%;
      text-align: center;
  } 
  .header{
    display: flex;
    justify-content: space-between;
    .list{
        ul{
            
            display: flex;
            list-style-type: none;
            a{
                margin-right: 30px;
                color:$light;
                text-decoration: none;
            }
        }
    }
    .icons{
        padding-top:15px;
        a{
            margin-right: 7%;
        }
        .zmdi{
            font-size: 1.5rem;
            color:$light;
            vertical-align: middle;
        }
        img{
            vertical-align: middle;
            margin-right: 7%;
        }
    }
  }
}
.header-link{
    margin-top:5%;
    text-align: center;
    font-size: 1.5rem;
    
    a{
        text-decoration: none;
        padding:1%;
        background-color:#0aa566;
        color:$light;
        
        img{
            margin-left:2%;
            margin-right:1%;
        }
    }
}
.link-div{
    border-radius: 30px;
    text-decoration: none;
    padding: 1% 2%;
    background-color: #0aa566;
    span{
        font-weight: 700;
        color:$light;
        font-size: 24px;
    }
    img{
        padding-left:3%;
    }
}
.button-link{
    text-align: center;
    padding-top: 3%;
}
.what_are_smoothies{
    padding:5% 20%;
    text-align: center;
    .title-h2{
        font-weight: 700;
        font-size: 3.1rem;
        color:$tangerin;
    }
    .after-title{
        padding-bottom:5%;
        color:#1e1e1e;
        font-size: 1.125rem;
        line-height:2rem;
    }
}
.details{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    
    &-item{
        padding:10% 0%;
        align-items: center;
        span{
            display: block;
            padding-top: 5%;
            color:$carrot;
            font-size: 1.5rem;
            font-weight: 500;
        }
        &-01{
            border-right:2px solid #f6edde;
            border-bottom:2px solid #f6edde;
        }
        &-02{
            border-right:2px solid #f6edde;
            border-bottom:2px solid #f6edde;
        }
        &-03{
            border-right:2px solid #f6edde;
            border-bottom:2px solid #f6edde;
        }
        &-04{
            border-bottom:2px solid #f6edde;
        }
        &-05{
            border-right:2px solid #f6edde;
        }
        &-06{
            border-right:2px solid #f6edde;
        }
        &-07{
            border-right:2px solid #f6edde;
        }
    }
}
.about{
    display: grid;
    grid-template: 1fr 1fr/repeat(4,1fr);
    &-item{
        &-01{
        height: 80vh;
            padding-bottom: 10%;
            grid-column-start: span 2;
            background-color: #168274;
            .about-picture{
                border:5px solid $light;
                width: 60%;
                height:auto ;
                margin-top: 15%;
                margin-left: 15%;
                transform: rotate(5deg);
            }
        }
        &-02{
            height: 80vh;
            padding-bottom: 10%;
            padding-right: 15%;
            grid-column-start: span 2;
            background-color: #168274;
            
            h2{
                color: $light;
                font-size: 3.4rem;
                span{
                    color:#cae941;
                    background-image: url(../img/3-About/span-line.png);
                    background-position: bottom;
                    background-repeat: repeat-x;
                    background-size: 100%;
                }
            }
            ul{
                list-style-type: none;
                padding-left: 0;
                padding-bottom: 5%;
                li{
                    font-size: 1.3125rem;
                    padding-bottom: 2%;
                    .span-01{
                        vertical-align: top;
                        color:$light;
                        .span-02{
                            font-weight: 700;
                        }
                    }
                    img{
                        padding-right:3%;
                    }
                }
                
            }
        }
        .volume{
            padding-top: 2%;
            display: block;
            font-weight: 400;
            padding-bottom: 6%;
        }
        &-03{
            padding-top: 2%;
            color:$light;
            font-weight: 500;
            padding-top: 35%;
            text-align: center;
            background-color: #622c15;
        }
        &-04{
            font-size: 1.125rem;
            color:$light;
            font-weight: 500;
            padding-top: 35%;
            text-align: center;
            background-color: #198275;
        }
        &-05{
            font-size: 1.125rem;
            color:$light;
            font-weight: 500;
            padding-top: 35%;
            text-align: center;
            background-color: #f9b13f;
        }
        &-06{
            font-size: 1.125rem;
            color:$light;
            font-weight: 500;
            padding-top: 35%;
            text-align: center;
            background-color: #c5461d;
        }
    }
}
.about-link{
    border: 2px solid #f7ae3b;
    border-radius: 30px;
    padding:2% 5% 2% 3%;
    text-decoration: none;
    color:$light;
    
    img{
        padding-left:5%;
    }
}
.about-link-white{
    border: 2px solid $light;
    border-radius: 30px;
    padding:2% 5% 2% 3%;
    text-decoration: none;
    color:$light;
    img{
        padding-left:5%;
    }
}
.our__story-section{
    .our__story{
        display: grid;
        grid-template: 880px/1fr 1fr;
        align-items: center;
        text-align: center;

        &-item01{
            text-align: left;
            width: 65%;
            padding-left:15%;
            align-items: center;
            h2{
                color:$tangerin;
                font-size: 3.125rem;
            }
            p{
                color:#1e1e1e;
                line-height: 2rem;
                padding-bottom:8%;
            }
            a{
                font-weight: 500;
                text-decoration: none;
                color:$light;
                font-size: 1.3rem;
                border-radius: 30px;
                padding: 2% 4%;
                background-color: #0aa566;
                img{
                    padding-left: 4%;
                    vertical-align: middle;
                }
            }
        }
    }
}
.story__picture{
margin-top:45%;
margin-left: -25%;
z-index: -1;
}
.our__blog-section{
    padding-left:13%;
    padding-right:14%;
    .our__blog{
        display: grid;
        grid-template: 500px/1fr 1fr;
        grid-gap: 0;
    
        &-item-01{
            h2{
                color:$tangerin;
                font-size: 3.125rem;
            }
        }
        &-item-02{
            margin: auto 0 ;
            .line{
                height: 12px;
                width: 100%;
                background-color:$tangerin;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                
            }
            .main__text{
                padding:5% 7%;
                color:#1e1e1e;
                line-height: 2em;
                h3{
                    color:$carrot;
                font-size: 1.55rem;
                margin-bottom: 0;
                }
                p{
                    padding-left:10%;
                    a{
                        text-decoration: none;
                        color: #1e1e1e;
                        font-weight: 500;
                        img{
                            vertical-align: middle;
                            padding-left:3%;
                            
                        }
                    }
                    
                }
            }
        }
    }
}
.section-instagram{
    .instagram{
        text-align: center;
        span{
            font-weight: 500;
            font-size: 1.5rem;
            color:#0aa566;
            i{
                padding-right: 1%;
            }
        }
        .inst-pic{
            padding-top:3%;
            width:100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            img{
                width: 99%;
                object-fit: cover;
            }
        }
    }
}
.inst-pic-item{
    width: 100%;
    height: calc(100vw/5px);
    position: relative;
    img{
        width: 100%;
        height: calc(width);
    }
    i{
        font-size: 1.5rem;
        color:$light;
        margin-bottom:50px !important;
        position: absolute;
        top:80%;
        z-index: 100;
        left:17vw;
    }
}
.footer-section{
    background-color: #f8a83e;
    padding-top:5%;
    padding-bottom:5%;
    .footer{
        display: grid;
        grid-template: 1fr/1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        h3{
            font-size: 1.625rem;
            color:$light;
        }
        &-item01{
            grid-column: 1/3;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            img{
                object-fit: contain;
                margin: 0 auto;
                max-width: 80%;
            }
        }
        &-item02{
            grid-column: 3/4; 
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            ul{
                line-height: 2rem;
                padding-left: 0;
                list-style-type: none;
                li{
                    a{
                        text-decoration: none;
                        color:#6d450c;
                    }
                }
            }           
        }
        &-item03{
            grid-column:4/6;
            padding-left:30px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            .payment-icons{
                display: grid;
                grid-template: 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
                //grid-row-gap: 8%;
                &-9{
                    grid-column: span 2;
                }
                img{
                   object-fit: contain;
                }
            }
        }
        &-item04{
            grid-column: 6/9;
            padding-left:20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            input{
                outline:none;
                border:none;
                width: 300px;
                padding-left:50px;
                padding-top: 5px;
                padding-bottom:5px;
                background-image: url(../img/9-Footer/mail.png);
                background-repeat: no-repeat;
                background-position: 3%, center;
                background-size: 50%Ð¶
            }
            .follow{
                width: 100%;
                display: flex;
                justify-content: start;
                padding-top: 10px;
                &-left{
                    display: flex;
                    padding-top:5%;
                    button{
                        background-color:transparent;
                        outline: none;
                        border: none;
                        font-size: 1.125rem;
                        color:#6d450c;
                        text-transform: uppercase;
                        font-weight: 500;
                        padding: 0 20px;
                    }
                    a{
                        color:$light;
                        font-size: 1.3rem;
                        i{
                            padding-right: 20px;
                        }
                    }
                }
                img{
                    object-fit: contain;
                }
            }
        }
    }
}
.copyright-section{
    background-color: #6f2c1b;
    .copyright{
        display: grid;
        grid-template: 1fr/1fr 1fr 1fr;
        text-align: center;
        align-items: center;
        padding-top:1%;
        p{
           grid-column: 2;
           color:#a78078;
           margin: 0 auto ;
        }
        .go-top{
            display: flex;
            justify-content: center;
            grid-column: 3;
            
            span{
                color:$light;
                font-weight: 500;
            }
            &-item{
                background-color: #f2662f;
                margin-left:5%;
                margin-top:-5%;
                margin-bottom: 5%;;
                padding:1% 3%;
                border-radius: 10%;
                
                img{
                    position: inherit;
                    vertical-align: center;
                }
                
            }
        }
    }
}