$light:#ffffff;
$tangerin:#f7ae3b;
$carrot:#f2612d;
*{
    margin:0;
    box-sizing: border-box;
}
body{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}
.section-header{
    padding-top:5%;
    background-image: url(../img/1-Header/bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header{
    display: grid;
    grid-template-columns: 38% 24% 38%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    .list{
        width: 100%;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color:$light;
                }
            }
        }
    }
    .icons{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        img{
            object-fit: contain;
        }
        a{
            color:$light;
            text-decoration: none;
            i{
                font-size: 1.3rem;
            }
        }
    }
}
.link-div{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 30px;
    text-decoration: none;
    background-color: #0aa566;
    height: 100%;
    width: 250px;
    margin: 0 auto;
    align-items:center;
    span{
        font-weight: 700;
        color:$light;
        font-size: 24px;
    }
    img{
        object-fit: contain;
        width: 20%;
    }
}
.button-link{
    height: 50px;
    margin-top:30px;
}
////////////////////////////////////////////////////////////////////////////////////////

.what_are_smoothies{
    display: flex;flex-direction: column;
    padding:5% 5%;
    text-align: center;
    .title-h2{
        font-weight: 700;
        font-size: 35px;
        color:$tangerin;
    }
    .after-title{
        padding-bottom:5%;
        color:#1e1e1e;
        font-size: 1.125rem;
        line-height:2rem;
    }
}
.details{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    &-item{
        padding:10% 0%;
        align-items: center;
        img{
            object-fit: contain;
        }
        span{
            display: block;
            padding-top: 5%;
            color:$carrot;
            font-size: 1.5rem;
            font-weight: 500;
        }
        &-01{
            border-right:2px solid #f6edde;
            border-bottom:2px solid #f6edde;
        }
        &-02{
            border-right:2px solid #f6edde;
            border-bottom:2px solid #f6edde;
        }
        &-03{
            border-right:2px solid #f6edde;
            border-bottom:2px solid #f6edde;
        }
        &-04{
            border-bottom:2px solid #f6edde;
        }
        &-05{
            border-right:2px solid #f6edde;
        }
        &-06{
            border-right:2px solid #f6edde;
        }
        &-07{
            border-right:2px solid #f6edde;
        }
    }
}
.about{
    display: grid;
    grid-template: 1fr 0.7fr/repeat(4,1fr);
    &-item{
        &-01{
            //height: 80vh;
            padding-bottom: 10%;
            grid-column-start: span 2;
            background-color: #168274;
            .about-picture{
                border:5px solid $light;
                width: 60%;
                height:auto;
                object-fit: contain;
                position: relative;
                top:10vh;
                left:10vw;
                transform: rotate(5deg);
            }
        }
        &-02{
            padding: 30px;
            grid-column-start: span 2;
            background-color: #168274;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h2{
                color: $light;
                font-size: 25px;
                span{
                    color:#cae941;
                    background-image: url(../img/3-About/span-line.png);
                    background-position: bottom;
                    background-repeat: repeat-x;
                    background-size: 100%;
                }
            }
            ul{
                list-style-type: none;
                padding-left: 0;
                li{
                    font-size: 20px;
                    padding-bottom: 2%;
                    .span-01{
                        vertical-align: top;
                        color:$light;
                        .span-02{
                            font-weight: 700;
                        }
                    }
                    img{
                        padding-right:3%;
                    }
                }
                
            }
        }
        .volume{
            padding-top: 2%;
            display: block;
            font-weight: 400;
            padding-bottom: 6%;
        }
        &-03{
            padding: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color:$light;
            font-weight: 500;
            text-align: center;
            background-color: #622c15;
            img{
                object-fit: contain;
                width: 60%;
                margin: 0 auto;
            }
        }
        &-04{
            padding: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            color:$light;
            font-weight: 500;
            text-align: center;
            background-color: #198275;
            img{
                object-fit: contain;
                width: 60%;
                margin: 0 auto;
            }
        }
        &-05{
            padding: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            color:$light;
            font-weight: 500;
            text-align: center;
            background-color: #f9b13f;
            img{
                object-fit: contain;
                width: 60%;
                margin: 0 auto;
            }
        }
        &-06{
            padding: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color:$light;
            font-weight: 500;
            text-align: center;
            background-color: #c5461d;
            img{
                object-fit: contain;
                width: 60%;
                margin: 0 auto;
            }
        }
    }
}
.about-link{
    border: 2px solid #f7ae3b;
    border-radius: 30px;
    text-decoration: none;
    color:$light;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    img{
        width: 10%;
        object-fit: contain;
    }
}
.about-link-white{
    border: 2px solid $light;
    border-radius: 30px;
    text-decoration: none;
    color:$light;
    height: 30px;
    width: 100px;
    margin: 0 auto;
    img{
        padding-left:5%;
        width: 20%;
    }
}
.about-item-02 .title-h2{
    padding-bottom:20px;
}
.our__story-section{
    height: 80vh;
}
.our__story{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}
.our__story-item01{
    max-width: 50%;
    min-width: 50%;
    height: 90%;
}
.our__story-item02{
    max-width: 50%;
    min-width: 50%;
    height: 90%;
}
.story__picture{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    img{
        max-width: 60%;
        object-fit: contain;
    }
}
.our__blog-section{
    display: none;
    padding-left:100px;
    padding-right:100px;
    max-height: 70vh;
    .our__blog{
        display: flex;
        max-height: 100%;
        &-item-01{
            display: flex;
            max-height: 100%;
            flex-direction: column;
            justify-content: space-between;
        }
        &-item-02{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
.our__blog-item{
    max-height: 100% !important;
}
.main__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.line{
    height: 12px;
    width: 100%;
    background-color:$tangerin;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.section-instagram{
    min-height: calc((100vw/5)+1.5rem);
    display: none;
    .instagram{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span{
            font-weight: 500;
            font-size: 1.5rem;
            color:#0aa566;
            display: block;
            i{
                padding-right: 1%;
            }
        }
        .inst-pic{
            width:100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
.inst-pic-item{
    width: 100%;
    height: calc(100vw/5);
    position: relative;
    img{
        width: 100%;
        height: calc(width);
    }
    i{
        font-size: 1.5rem;
        color:$light;
        margin-bottom:50px !important;
        position: absolute;
        top:80%;
        z-index: 100;
        left:17vw;
    }
}
.footer-section{
    display: none;
    background-color: #f8a83e;
    padding-top:5%;
    padding-bottom:5%;
    .footer{
        display: grid;
        grid-template: 1fr/1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        h3{
            font-size: 1.625rem;
            color:$light;
        }
        &-item01{
            grid-column: 1/3;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            img{
                object-fit: contain;
                margin: 0 auto;
                max-width: 80%;
            }
        }
        &-item02{
            grid-column: 3/4; 
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            ul{
                line-height: 2rem;
                padding-left: 0;
                list-style-type: none;
                li{
                    a{
                        text-decoration: none;
                        color:#6d450c;
                    }
                }
            }           
        }
        &-item03{
            grid-column:4/6;
            padding-left:30px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            .payment-icons{
                display: grid;
                grid-template: 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
                //grid-row-gap: 8%;
                &-9{
                    grid-column: span 2;
                }
                img{
                   object-fit: contain;
                }
            }
        }
        &-item04{
            grid-column: 6/9;
            padding-left:20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            input{
                outline:none;
                border:none;
                width: 300px;
                padding-left:50px;
                padding-top: 5px;
                padding-bottom:5px;
                background-image: url(../img/9-Footer/mail.png);
                background-repeat: no-repeat;
                background-position: 3%, center;
                background-size: 50%;
            }
            .follow{
                width: 100%;
                display: flex;
                justify-content: start;
                padding-top: 10px;
                &-left{
                    display: flex;
                    padding-top:5%;
                    button{
                        background-color:transparent;
                        outline: none;
                        border: none;
                        font-size: 1.125rem;
                        color:#6d450c;
                        text-transform: uppercase;
                        font-weight: 500;
                        padding: 0 20px;
                    }
                    a{
                        color:$light;
                        font-size: 1.3rem;
                        i{
                            padding-right: 20px;
                        }
                    }
                }
                img{
                    object-fit: contain;
                }
            }
        }
    }
}
.copyright-section{
    display: none;
    background-color: #6f2c1b;
    .copyright{
        display: grid;
        grid-template: 1fr/1fr 1fr 1fr;
        text-align: center;
        align-items: center;
        padding-top:1%;
        p{
           grid-column: 2;
           color:#a78078;
           margin: 0 auto ;
        }
        .go-top{
            display: flex;
            justify-content: center;
            grid-column: 3;
            
            span{
                color:$light;
                font-weight: 500;
            }
            &-item{
                background-color: #f2662f;
                margin-left:5%;
                margin-top:-5%;
                margin-bottom: 5%;;
                padding:1% 3%;
                border-radius: 10%;
                
                img{
                    position: inherit;
                    vertical-align: center;
                }
                
            }
        }
    }
}
